<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HuzurAtlası"
        tools:targetApi="31">

        <!-- Acil Durum Activity -->
        <activity
            android:name="com.acm431.huzuratlasi.ui.theme.AcilDurumActivity"
            android:exported="false" />

        <!-- OnboardingActivity -->
        <activity
            android:name="com.acm431.huzuratlasi.ui.theme.OnboardingActivity"
            android:exported="true"
            android:theme="@style/Theme.HuzurAtlası">
            <!-- Onboarding başlangıç ekranı olarak ayarlandı -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- MainActivity -->
        <activity
            android:name="com.acm431.huzuratlasi.ui.theme.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.HuzurAtlası" />

        <!-- ProfileActivity -->
        <activity
            android:name="com.acm431.huzuratlasi.ui.theme.ProfileActivity"
            android:exported="true"
            android:label="@string/profile_activity_title"
            android:theme="@style/Theme.HuzurAtlası" />

    </application>

</manifest>



